<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>운영관리시스템</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        #insertBtn{
            margin-bottom: 5px;
            width: 100% !important;
        }

    table th{
        white-space: nowrap;
    }
    table td{
        white-space: nowrap;
    }

    .hr1{
        background-color: #4e73df !important;
    }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="img/stdtitle.jpg">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <th:block th:include="inc/nav"></th:block>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:include="inc/head"></th:block>
                    
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <!-- <h1 class="test">증액이력</h1> -->
                        <div class="card-body">
                            <h4 class="h4 mb-2 text-gray-800">현재 사용중인 원격접속 현황</h4>
                            <hr class="hr1">
                            <form th:action="@{/remoteStatus}" method="get">
                                <input type="text" name="name" class="form-control" id="name" placeholder="이름으로 검색하세요." size="50" style="width: 500px; float: left;">
                                <button type="submit" class="btn btn-info">search</button>
                            </form>
                            <form id="frm"  method="post">
                            <div class="table-responsive">
                                <!-- <div><button type="button" class="btn btn-primary" onclick="location.href='insertRemoteStatus' " id="insertBtn">CREATE</button></div> -->
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    
                                    <thead>
                                        <tr>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>이메일</th>
                                            <th>상태</th>
                                            <th>서버IP</th>
                                            <th>사용자</th>
                                            <th>사유</th>
                                            <th>사용일자</th>
                                            <th>시작시간</th>
                                            <th>종료시간</th>
                                            <th>인입IP주소</th>
                                            <th>신청시간</th>
                                            <th>접속 승인자</th>
                                            <th>접속 승인일시</th>
                                            <th>핸드폰번호</th>
                                            <th>알람유형</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr th:each="dataRS : ${allRemoteStatus}" >
                                                <!-- <td><a th:href="@{/editRemoteStatus( key=${dataRS.key} )}" th:value="${dataRS.key}" th:text="${dataRS.key}"></a></td> -->
                                                <td><span th:text="${dataRS.key}"></span></td>
                                                <td><span th:text="${dataRS.name}"></span></td>
                                                <td><span th:text="${dataRS.email}"></span></td>
                                                <td><span th:text="${dataRS.status}"></span></td>
                                                <td><span th:text="${dataRS.server_ip}"></span></td>
                                                <td><span th:text="${dataRS.server_user}"></span></td>
                                                <td><span th:text="${dataRS.reason}"></span></td>
                                                <td><span th:text="${dataRS.date}"></span></td>
                                                <td><span th:text="${dataRS.start_time}"></span></td>
                                                <td><span th:text="${dataRS.end_time}"></span></td>
                                                <td><span th:text="${dataRS.create_ip}"></span></td>
                                                <td><span th:text="${dataRS.create_dttm}"></span></td>
                                                <td><span th:text="${dataRS.update_admin}"></span></td>
                                                <td><span th:text="${dataRS.update_dttm}"></span></td>
                                                <td><span th:text="${dataRS.phn_id}"></span></td>
                                                <td><span th:text="${dataRS.alarm_type}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                                <div th:if="${!allRemoteStatus.isEmpty()}">
                                    <nav
                                        th:with="
                                            pageNumber = ${allRemoteStatus.pageable.pageNumber},
                                            pageSize = ${allRemoteStatus.pageable.pageSize},
                                            totalPages = ${allRemoteStatus.totalPages},
                                            startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                                            tempEndPage = ${startPage + pageSize - 1},
                                            endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                                            aria-lable="page navigation"
                                            >
                                            <ul class="pagination ">
                                                <li th:classappend="${pageNumber < pageSize} ? 'disabled'" class="page-item">
                                                    <a class="page-link" th:href="@{/remoteStatus(page=0, name=${serverSearchId})}">
                                                      <span>&laquo;</span>
                                                      <span class="sr-only">First</span>
                                                    </a>
                                                  </li>
                                                  <li th:classappend="${allRemoteStatus.first} ? 'disabled'" class="page-item">
                                                    <a class="page-link" th:href="${allRemoteStatus.first} ? '#' : @{/remoteStatus(page=${pageNumber - 1}, name=${serverSearchId})}" aria-label="Previous">
                                                      <span aria-hidden="true">&lt;</span>
                                                      <span class="sr-only">Previous</span>
                                                    </a>
                                                  </li>
                                                  <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                                                    <a th:text="${page}" class="page-link" th:href="@{/remoteStatus(page=${page - 1}, name=${serverSearchId})}"></a>
                                                  </li>
                                                  <li th:classappend="${allRemoteStatus.last} ? 'disabled'" class="page-item">
                                                    <a class="page-link" th:href="${allRemoteStatus.last} ? '#' : @{/remoteStatus(page=${pageNumber + 1}, name=${serverSearchId})}" aria-label="Next">
                                                      <span aria-hidden="true">&gt;</span>
                                                      <span class="sr-only">Next</span>
                                                    </a>
                                                  </li>
                                                  <li th:classappend=" ${T(Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'" class="page-item">
                                                    <a class="page-link" th:href="@{/remoteStatus(page=${totalPages - 1}, name=${serverSearchId})}">
                                                      <span>&raquo;</span>
                                                      <span class="sr-only">Last</span>
                                                    </a>
                                                  </li>
                                            </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:include="inc/footer"></th:block>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>
</html>